In [33]:
import pandas as pd
import numpy as np

In [34]:
df=pd.read_csv('indian_food.csv')
df.head()

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region
0,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,West Bengal,East
1,Boondi,"Gram flour, ghee, sugar",vegetarian,80,30,sweet,dessert,Rajasthan,West
2,Gajar ka halwa,"Carrots, milk, sugar, ghee, cashews, raisins",vegetarian,15,60,sweet,dessert,Punjab,North
3,Ghevar,"Flour, ghee, kewra, milk, clarified butter, su...",vegetarian,15,30,sweet,dessert,Rajasthan,West
4,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",vegetarian,15,40,sweet,dessert,West Bengal,East

In [35]:
st=set((7, 9, 10, 12, 94, 96, 98, 109, 111, 115, 117, 128, 130, 144))
st_ms= set((145, 149, 154, 156, 158, 161, 162, 164, 231, 248))
reg_ms=set((7, 9, 10, 12, 94, 96, 98, 109, 111, 117, 164, 231, 248))
flavor=set((78, 104, 116, 131, 145, 146, 150, 153, 155, 157, 158, 159, 160, 171))
flav_ms=set(( 176, 179, 180, 189, 216, 222, 224, 227, 228, 229, 231, 236, 244, 245,248))

In [36]:
x=(st | st_ms | reg_ms | flavor | flav_ms)

In [37]:
# dirty data
df[df.index.isin(x)].head()

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region
7,Kaju katli,"Cashews, ghee, cardamom, sugar",vegetarian,10,20,sweet,dessert,-1,-1
9,Kheer,"Milk, rice, sugar, dried fruits",vegetarian,10,40,sweet,dessert,-1,-1
10,Laddu,"Gram flour, ghee, sugar",vegetarian,10,40,sweet,dessert,-1,-1
12,Nankhatai,"Refined flour, besan, ghee, powdered sugar, yo...",vegetarian,20,30,sweet,dessert,-1,-1
78,Chapati,"Whole wheat flour, olive oil, hot water, all p...",vegetarian,10,10,-1,main course,Maharashtra,West

In [38]:
# 19 percents is dirty 
(df[df.index.isin(x)].shape[0]/df.shape[0] )*100

19.215686274509807